# Terraform
**/.terraform/*
*.tfstate
*.tfstate.*
crash.log
override.tf
override.tf.json
*_override.tf
*_override.tf.json
.terraform.lock.hcl

# Sensitive files
*.pem
*.key

# OS
.DS_Store
Thumbs.db

# Archives
*.zip
*.tar
*.gz

# IDE
.vscode
# Terraform
**/.terraform/*
*.tfstate
*.tfstate.*
.terraform.lock.hcl
crash.log

# AWS / keys
*.pem
*.key

# Archives
*.zip
*.tar
*.gz

# Python
__pycache__/

# IDE
.vscode
